<% provide(:title, "Strong Password Generator") %>

<div class="center jumbotron">
  <h1>Great Passwords Are Simply Strong and Easy to Remember</h1>
  <h3>Tr0ub4dor&3 Is Not Strong or Easy to Remember</h3>
  <hr>
  <p>Your New Strong Password Is...</p>
  <h2><%= @password %>
</div>
